<div class="Reputation__Form">
  <div class="Reputation__Part">
    <div class="Icon_Reputation"><i class='bx bx-package'></i></div>
    <div class="Main_Reputation">Free global returns collection service</div>
    <div class="Title__Reputation">We offer a free returns collection service on all orders worldwide</div>
  </div>
  <div class="Reputation__Part">
    <div class="Icon_Reputation"><i class="fa-solid fa-truck"></i></div>
    <div class="Main_Reputation">Fast delivery</div>
    <div class="Title__Reputation">To your door in no time. Explore F90, Same Day delivery and Express delivery.
    </div>
  </div>
</div>
