<footer>
  <div class="Container__Form__Footer">
    <div class="Email__Form__Footer">
      <span>Sign up to receive information from us</span>
      <input type="email" name="" id="" placeholder="Enter Your Email">
      <button>Sign Up Now</button>
    </div>
    <div class="Main__Social">
      <ul class="Footer__Social">
        <li><a href=""><i class="fa-brands fa-facebook"></i>FaceBook</a></li>
        <li><a href=""><i class="fa-brands fa-instagram-square"></i>Instagram</a></li>
        <li><a href=""><i class="fa-brands fa-youtube"></i>Youtube</a></li>
        <li><a href=""><i class="fa-brands fa-tiktok"></i>TikTok</a></li>
    </ul>
    </div>
  </div>
  <div class="End__Footer">
    <div class="Contact__Footer">
      <h4>Communications</h4>
      <hr>
      <ul>
        <li>Address: 240 VND. Vo Van Ngan, Binh Tho, Thu Duc, Ho Chi Minh City.</li>
        <li>Phone: 093 820 59 66</li>
      </ul>
    </div>
    <div class="Category__Footer">
      <h4>Category</h4>
      <hr>
      <ul>
        <li><a href="#">Jordan</a></li>
        <li><a href="#">Adidas</a></li>
        <li><a href="#">Nike</a></li>
      </ul>
    </div>
    <div class="Policy__Footer">
      <h4>Category</h4>
      <hr>
      <ul>
        <li><a href="#">Transfer Policy</a></li>
        <li><a href="#">Payment Policy</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="Support__Footer">
      <h4>Support</h4>
      <hr>
      <ul>
        <li><a href="#">Size guide</a></li>
        <li><a href="#">Support return</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
</div>
</footer>
