<div class="Reputation__Form">
  <div class="Reputation__Part">
    <div class="Icon_Reputation"><i class='bx bx-package'></i></div>
    <div class="Main_Reputation">Free global returns collection service</div>
    <div class="Title__Reputation">We offer a free returns collection service on all orders worldwide</div>
  </div>
  <div class="Reputation__Part">
    <div class="Icon_Reputation"><i class='bx bx-star'></i></div>
    <div class="Main_Reputation">4.7/5 stars and 25,000+ reviews</div>
    <div class="Title__Reputation">100% authentic brands and original styles. You know you can trust us.</div>
  </div>
  <div class="Reputation__Part">
    <div class="Icon_Reputation"><i class='bx bx-user'></i></div>
    <div class="Main_Reputation">Not ready to commit?</div>
    <div class="Title__Reputation">No worries, you can place an order without an account. Head to checkout and
      continue as a guest.</div>
  </div>
