.MainContent__Detail {
  height: 11%;
}
.Right__Account__Title {
  font-size: 24px;
  margin-bottom: 25px;
}
.Right__Connected {
  text-align: center;
  padding: 0 50px;
}
.Right__Connected i {
  font-size: 25px;
  margin: 20px 0 25px 0;
}
.Right__Connected h4 {
  margin-bottom: 10px;
}
