
.card__Size__Detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #727272;
  padding: 12px 15px;
  border: #222 solid 1px;
  border-radius: 10px;
  cursor: default;
}
.color{
  color: #222;
}
.card__Size__Detail p{
  font-size: 15px;
}
.card__Size__Detail i {
  font-size: 20px;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear 0.2s;
}

.card__Size__Detail__Hover {
  display: none;
  width: 100%;
  color: #222;
  background-color: white;
  z-index: 10;
  padding-bottom: 20px;
  border: #727272 solid 1px;
  border-top: none;
  border-radius: 0 0 5px 5px;
  position: absolute;
}
.card__Size__Detail__Hover ul {
  list-style: none;
}
.card__Size__Detail__Hover li {
  transition: all linear 0.1s;
  cursor: default;
}
.card__Size__Detail__Hover .size:hover {
  background-color: #eee;
  cursor: pointer;
}

.Card__Size__Title {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  padding: 10px 15px;
  justify-content: space-between;
}
.Card__Size__Title p {
  font-size: 12.5px;
}
.Card__Size__Number {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.show {
  display: block;
}

.border {
  border-radius: 10px 10px 0 0;
}
.tranform {
  transform: rotate(-180deg);
}
