

.WishList__icon__Heart,
.WishList__icon__Close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  right: 0;
  border-radius: 7px;
  transition: all linear 0.1s;
  position: absolute;
  z-index: 1;
}
.WishList__icon__Heart__Hover{
  position: relative;
  overflow: hidden;
  height: 25px;
  width: 25px;
}
.WishList__icon__Heart:hover {
  background: #f5f5f5;
}
.WishList__icon__Heart:hover .icon_hover{
  opacity: 1;
}
.WishList__icon__Heart i {
  font-size: 25px;
  margin: auto;
}
.WishList__icon__Close:hover {
  background: #f5f5f5;
}
.WishList__icon__Close i {
  font-size: 25px;
  margin: auto;
}
.IconClick{
  opacity: 1 !important;
  color: #222 !important;
  z-index: 2;
}
.icon_hover{
  color: #727272;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: all ease-in 0.1s;
  z-index: 2;
}
