<div class="MainContent__Detail">
  <div class="Right__Account__Title">Account details</div>
</div>
<div class="Right__Detail">
  <ul>
    <li><h5>First name</h5></li>
    <li><h5>Last name</h5></li>
    <li><h5>Email address</h5></li>
    <li><h5>Phone number</h5></li>
    <li><h5>Date of birth</h5></li>
    <li><h5>Gender</h5></li>
    <li><h5>Passsword</h5></li>
  </ul>
  <ul>
    <li><p>{{User.firstName}}</p></li>
    <li><p>{{User.lastName}}</p></li>
    <li><p>{{User.email}}@gmail.com</p></li>
    <li><p>{{User.phone}}</p></li>
    <li><p>--/--/--</p></li>
    <li><p>Male</p></li>
    <li><p>******</p></li>
  </ul>
</div>
