
.Right__Account__Title {
  font-size: 24px;
  margin-bottom: 25px;
}
.Right__Detail {
  font-size: 16px;
  display: flex;
}
.Right__Detail ul {
  list-style-type: none;
  line-height: 2;
}
.Right__Detail li {
  display: flex;
}
.Right__Detail li i{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Right__Detail h5 {
  padding-right: 150px;
}

h3 {
  font-weight: 500;
}
p {
  font-size: 13px;
}
input{
  border: none;
  font-size: 13px;
  line-height: 2;
}
button{
  cursor: pointer;
  margin: 10px 0;
  padding: 3px 20px;
  background-color: white;
  border: 1px solid #727272;
  border-radius: 5px;
}
.Save{
  margin-left: 185px;
}
