<div class="table-data" *ngIf="Num < 6">
  <div class="order">
    <div class="head">
      <h3>{{ List }} List</h3>
      <p (click)="ChangeList(1)">Product</p>
      <p (click)="ChangeList(2)">Brand</p>
      <p (click)="ChangeList(4)">Nsx</p>
      <p (click)="ChangeList(5)">Category</p>
      <p (click)="Add()">+</p>
      <i class="bx bx-search"></i>
      <i class="bx bx-filter"></i>
    </div>
    <table>
      <thead>
        <tr>
          <th *ngFor="let code of ListCode">{{ code.list_name }}</th>
          <th *ngIf="Num > 1">Edit</th>
        </tr>
      </thead>
      <tbody *ngIf="Num == 1">
        <tr
          *ngFor="let product of ListProduct"
        >
          <td>{{ product.id }}</td>
          <td>
            <img [src]="product.image" />
          </td>
          <td>{{ product.product_Name }}</td>
          <td>{{ product.product_Price }}</td>
          <td>{{ product.brand }}</td>
          <!-- <td>{{ product.category }}</td> -->
          <td>High-Top</td>
          <td>
            <span class="status {{ product.Status }}" (click)="DeleteRestoreProduct(product.product_id,product.id)">{{ product.Status }}</span>
          </td>
          <td><i class="bx bx-pencil" (click)="EditProduct(product)"></i></td>
        </tr>
      </tbody>
      <tbody *ngIf="Num == 2">
        <tr *ngFor="let brand of ListProduct">
          <td>{{ brand.id }}</td>
          <td>{{ brand.brand_Name }}</td>
          <td>{{ brand.nsx }}</td>
          <td>
            <span class="status {{ brand.Status }}">{{ brand.Status }}</span>
          </td>
          <td><i class="bx bx-pencil" (click)="EditBrand(brand)"></i></td>
          <td *ngIf="brand.Status == 'Active'">
            <i
              class="bx bx-trash-alt"
              (click)="DeleteBrand(brand.brand_id, brand.id)"
            ></i>
          </td>
          <td *ngIf="brand.Status == 'Delete'">
            <i
              class="bx bx-refresh"
              (click)="RestoreBrand(brand.brand_id, brand.id)"
            ></i>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="Num == 4">
        <tr *ngFor="let nsx of ListProduct">
          <td>{{ nsx.id }}</td>
          <td>{{ nsx.nsx_Name }}</td>
          <td>
            <span class="status {{ nsx.Status }}">{{ nsx.Status }}</span>
          </td>
          <td><i class="bx bx-pencil" (click)="EditNsx(nsx)"></i></td>
          <td *ngIf="nsx.Status == 'Active'">
            <i
              class="bx bx-trash-alt"
              (click)="DeleteNsx(nsx.nsx_id, nsx.id)"
            ></i>
          </td>
          <td *ngIf="nsx.Status == 'Delete'">
            <i
              class="bx bx-refresh"
              (click)="RestoreNsx(nsx.nsx_id,nsx.id)"
            ></i>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="Num == 5">
        <tr *ngFor="let category of ListProduct">
          <td>{{ category.id }}</td>
          <td>{{ category.category_Name }}</td>
          <td>
            <span class="status {{ category.Status }}">{{ category.Status }}</span>
          </td>
          <td><i class="bx bx-pencil" (click)="EditCategory(category)"></i></td>
          <td *ngIf="category.Status == 'Active'">
            <i
              class="bx bx-trash-alt"
              (click)="DeleteCategory(category.category_id,category.id)"
            ></i>
          </td>
          <td *ngIf="category.Status == 'Delete'">
            <i
              class="bx bx-refresh"
              (click)="RestoreCategory(category.category_id,category.id)"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="Form" *ngIf="Num > 5 && Choose == 1">
  <div class="Info">
    <p>Name</p>
    <input type="text" placeholder="Product Name" [(ngModel)]="ProductAdd.product_Name"/>
    <p>Price</p>
    <input type="text" placeholder="Product Price" [(ngModel)]="ProductAdd.product_Price"/>
    <p>Brand</p>
    <select [(ngModel)]="ProductAdd.brand_id">
      <option></option>
      <option *ngFor="let brand of ListBrand" [value]="brand.brand_id">{{ brand.brand_Name }}</option>
    </select>
    <p>Category</p>
    <select [(ngModel)]="ProductAdd.category_id">
      <option></option>
      <option *ngFor="let category of ListCategory" [value]="category.category_id">
        {{ category.category_Name }}
      </option>
    </select>
    <button class="AddProduct" (click)="AddProduct()" *ngIf="EditCheck == false">Add</button>
    <button class="UpdateProduct" (click)="UpdateProduct()" *ngIf="EditCheck == true">Update</button>
  </div>
  <div class="Img">
    <div>
      <p>Main</p>
      <img [src]="img.image_Product_Main" alt="" />
      <input
        type="file"
        (change)="UploadMainImg($event)"
        *ngIf="img.image_Product_Main == ''"
      />
    </div>
    <div>
      <p>Detail</p>
      <img [src]="img.image_Product_Detail" alt="" />
      <input
        type="file"
        (change)="UploadDetailImg($event)"
        *ngIf="img.image_Product_Detail == ''"
      />
    </div>
    <div>
      <p>Ass</p>
      <img [src]="img.image_Product_Ass" alt="" />
      <input
        type="file"
        (change)="UploadAssImg($event)"
        *ngIf="img.image_Product_Ass == ''"
      />
    </div>
    <div>
      <p>Cond</p>
      <img [src]="img.image_Product_Cond" alt="" />
      <input
        type="file"
        (change)="UploadCondImg($event)"
        *ngIf="img.image_Product_Cond == ''"
      />
    </div>
  </div>
</div>

<div class="Form" *ngIf="Num > 5 && Choose == 2">
  <div class="Info">
    <p>Brand Name</p>
    <input
      type="text"
      placeholder="Brand Name"
      [(ngModel)]="BrandAdd.brand_Name"
    />
    <p>Nsx</p>
    <select [(ngModel)]="BrandAdd.nsx_id">
      <option></option>
      <option *ngFor="let nsx of ListNsx" [value]="nsx.nsx_id">
        {{ nsx.nsx_Name }}
      </option>
    </select>
    <button class="AddProduct" (click)="AddBrand()" *ngIf="EditCheck == false">Add</button>
    <button class="UpdateProduct" (click)="UpdateBrand()" *ngIf="EditCheck == true">Update</button>
  </div>
</div>

<div class="Form" *ngIf="Num > 5 && Choose == 4">
  <div class="Info">
    <p>Nsx Name</p>
    <input
      type="text"
      placeholder="Nsx Name"
      [(ngModel)]="NsxAdd.nsx_Name"
    />
    <button class="AddProduct" (click)="AddNsx()" *ngIf="EditCheck == false">Add</button>
    <button class="UpdateProduct" (click)="UpdateNsx()" *ngIf="EditCheck == true">Update</button>
  </div>
</div>

<div class="Form" *ngIf="Num > 5 && Choose == 5">
  <div class="Info">
    <p>Category Name</p>
    <input
      type="text"
      placeholder="Category Name"
      [(ngModel)]="CategoryAdd.category_Name"
    />
    <button class="AddProduct" (click)="AddCategory()" *ngIf="EditCheck == false">Add</button>
    <button class="UpdateProduct" (click)="UpdateCategory()" *ngIf="EditCheck == true">Update</button>
  </div>
</div>

<div class="Head" *ngIf="Num > 5">
  <p (click)="Back()">Back</p>
</div>
