<div class="table-data">
  <div class="order">
    <div class="head">
      <h3>User List</h3>
      <input type="text" class="search" [(ngModel)]="search" *ngIf="SearchCheck == true"/>
      <i class="bx bx-search" (click)="Search()"></i>
      <i class="bx bx-filter" (click)="Sort()"></i>
    </div>
    <table>
      <thead>
        <tr>
          <th *ngFor="let code of ListCode">{{code.list_name}}</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of ListUser">
          <td>{{user.id}}</td>
          <td>{{user.email}}@gmail.com</td>
          <td>********</td>
          <td>{{user.lastName + ' ' + user.firstName}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.address}}</td>
          <td>${{user.credit}}</td>
          <td><span class="status {{user.Status}}">{{user.Status}}</span></td>
          <td>{{user.role}}</td>
          <!-- <td><i class='bx bx-pencil'></i></td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
